@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


//font
$Kumbh: "Kumbh", sans-serif; 

//colours
$darkcyan: hsl(185,75,39);
$verydarkblue : hsl(229, 23%, 23%);
$darkgreyblue: hsl(227, 10%, 46%);
$darkgrey: hsl(0, 0%, 59%);
